<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>About Me</title>
</head>
<body>
    <div class="content">
        <h3>I'm Anthony Musa</h3>
        <span class="tag">Full Stack Developer</span>
        
        <p>I am a Full-Stack developer based in Kubwa, Nigeria. 
          I am a Full Stack Web Developer graduated from Dr Angela Yu 2024 Bootcamp, Udemy.
          I am very passionate about improving my coding skills & developing applications & websites.
          I build WebApps and Websites using HTML,CSS,JAVASCRIPT.
          Love to build Full-Stack clones. </p>
    </div>   
</body>
</html>